.footer {
  width: 100%;
  min-height: 20vh;
  background-color: #191719;
}

.footerHeading {
  color: #D5D5D6;
}

.footerList {
  list-style-type: none;
  color: #D5D5D6;
}

.footerLinks {
  color: #D5D5D6;
}
